{% extends "base.html" %}

{% block title %}
<title>Judgee - Account</title>
{% endblock %}

{% block content %}
<h2 class="text-center text-primary">Personal Profile</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-2 d-none d-lg-block"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <form class="user" method="post" id="accountDetails-form" action="{{ url_for('myProfile') }}" enctype="multipart/form-data">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-600 mb-4">Want to change some personal info?</h1>
                                    <hr>
                                    <p class="text-center text-success">Update My Photo</p>
                                    <img src= {{user_img}} class="rounded mx-auto d-block"alt="letstakeaselfie" width="300">
                                    <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" name="photo" class="custom-file-input" id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <hr>
                                    <p>Current Email: </p>
                                    <p class="text-warning">{{ email }}</p>
                                    <p class="text-success">Update My Email</p>
                                </div>
                                    <div class="form-group row"></div>
                                    <div class="form-group">
                                        <input name="email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="New Email Address">

                                        <hr>
                                        <p class="text-success text-center">Update My Password</p>

                                        {% if error %}
                                        <p class="text-danger text-center"><strong>ERROR: </strong>{{ error }}</p>
                                            {% endif %}

                                        <p class="text-danger text-center">{{msg}}</p>
                                        <input name="cur_passwd" type="password" class="form-control form-control-user mt-3" placeholder="Current Password" required>
                                    </div>
                                    <div class="form-group row">

                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input name="new_passwd" type="password" class="form-control form-control-user" placeholder="New Password">
                                        </div>
                                        <div class="col-sm-6">
                                            <input name="new_reppasswd" type="password" class="form-control form-control-user" placeholder="Repeat New Password">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-primary btn-user btn-block theTerget hideTarget">
                                        Submit Changes !
                                    </button>
                                </form>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container-fluid">

                    <!-- Content Heading -->
                    <h1 class="h3 mb-2 text-primary text-center">My Personal Info</h1>

                    <!-- DataTales -->
                    <div class="card shadow mb-4 mt-3">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">My Personal Info Table</h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="myFeedbackTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th align="left">Demographics</th>
                                            <th align="right">Your Responses</th>
                                        </tr>
                                        <tr>
                                            <td>Full name  </td>
                                            <td>{{ account_details.full_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Birthdate  </td>
                                            <td>{{ account_details.birthdate}}</td>
                                        </tr>
                                        <tr>
                                            <td>Race   </td>
                                            <td>{{ account_details.race }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ethnicity  </td>
                                            <td>{{ account_details.ethnicity }}</td>
                                        </tr>
                                        <tr>
                                            <td>Sex    </td>
                                            <td>{{ account_details.sex }}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender </td>
                                            <td>{{ account_details.gender}}</td>
                                        </tr>
                                        <tr>
                                            <td>Height </td>
                                            <td>{{ account_details.height}}</td>
                                        </tr>
                                        <tr>
                                            <td>Weight </td>
                                            <td>{{ account_details.weight}}</td>
                                        </tr>
                                        <tr>
                                            <td>Orientation    </td>
                                            <td>{{ account_details.orientation }}</td>
                                        </tr>
                                        <tr>
                                            <td>Marital Status </td>
                                            <td>{{ account_details.marital_status }}</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Children </td>
                                            <td>{{ account_details.num_children }}</td>
                                        </tr>
                                        <tr>
                                            <td>Education Level    </td>
                                            <td>{{ account_details.education_level }}</td>
                                        </tr>
                                        <tr>
                                            <td>Employment Status  </td>
                                            <td>{{ account_details.employment_status }}</td>
                                        </tr>
                                        <tr>
                                            <td>Employment Field   </td>
                                            <td>{{ account_details.employment_field }}</td>
                                        </tr>
                                        <tr>
                                            <td>Annual Income  </td>
                                            <td>{{ account_details.annual_income }}</td>
                                        </tr>
                                        <tr>
                                            <td>Parental Income    </td>
                                            <td>{{ account_details.parental_income }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ideology   </td>
                                            <td>{{ account_details.ideology }}</td>
                                        </tr>
                                        <tr>
                                            <td>Smoking Status </td>
                                            <td>{{ account_details.smoking_status }}</td>
                                        </tr>
                                        <tr>
                                            <td>Drinks Per Week    </td>
                                            <td>{{ account_details.drinks_per_week }}</td>
                                        </tr>
                                        <tr>
                                            <td>Weed Per Week  </td>
                                            <td>{{ account_details.weed_per_week }}</td>
                                        </tr>
                                        <tr>
                                            <td>Substance Use  </td>
                                            <td>{{ account_details.substance_use }}</td>
                                        </tr>
                                        <tr>
                                            <td>Dieting Status </td>
                                            <td>{{ account_details.dieting_status }}</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Partners </td>
                                            <td>{{ account_details.num_partners }}</td>
                                        </tr>
                                        <tr>
                                            <td>Safe Sex Status    </td>
                                            <td>{{ account_details.safe_sex }}</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="align-items-center text-right mb-4 mr-4">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">DELETE ACCOUNT</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure you want to delete your account?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">This is an Irreversible operation!</div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="{{ url_for('deleteAccount') }}">DELETE</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<!--&lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--<script src="../static/vendor/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--<script src="../static/js/demo/chart-area-demo.js"></script>-->
<!--<script src="../static/js/demo/chart-pie-demo.js"></script>-->
<!--<script src="../static/js/demo/chart-bar-demo.js"></script>-->

<!--&lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--<script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>-->
<!--<script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>-->

<!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--<script src="../static/js/demo/datatables-demo.js"></script>-->
{% endblock %}
