{% extends "base.html" %}

{% block title %}
<title>P2T2 - Credit Center</title>
{% endblock %}
<link href="../static/styles.css" rel="stylesheet" type="text/css">
<link href="../static/bar.css" rel="stylesheet" type="text/css">
{% block content %}

<div class="container-fluid">

 <!-- Content Heading -->
    <h1 class="text-center">Credit Bank</h1>
    <p class ="text-center" id="p-display"><p>
    <p class ="text-center">To get more credits, go ahead and rate more pics!</p>


    <!-- DataTales -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Credits</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center"  width="100%" cellspacing="0">
                    <thead>
                    <tr>Total Credits: {{credits}}
                    </tr>
                    </thead>
                </table>
                <div id = "banksystem" class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Purchase Feedback!</h6>
                    <p>Would you like to use one of your credits for feedback?</p>
                    <form method="post">
                        <input id="purchase-button" name="purchase-button" type="submit" value="Purchase Feedback!" class="btn-primary btn-user btn-block">
                    </form>
                </div>
            </div>
        </div>


</div>
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("#banksystem").hide();
    $("#p-display").hide();
    var credits = {{credits}};
    var new_trait = "{{new_trait}}";
    console.log("credits",credits);
    if (credits >= 1){
        $("#banksystem").show();
    }
    if ("{{display_text}}".length > 1){
        if( new_trait != "null"){
            $("#p-display").show();
            let display = "{{display_text}}";
            let str = display.split(" ").splice(0,7).join(" ");
            str += " <strong>" + display.split(" ").splice(7).join(" ") + "</strong>";
            console.log(str);

            $("#p-display").append(str);
        }else{
            $("#p-display").show();
            let display = "{{display_text}}";
            $("#p-display").append(display);
            $("#purchase-button").prop("disabled",true);


        }
    }
    

});





</script>

{% endblock %}
