{% extends "base.html" %}

{% block title %}
<title>Judgee - Rate Others</title>
{% endblock %}

{% block content %}
<h1 class="text-center text-primary">Judgee...Away!</h1>
<hr>
<img src={{ img }} class="rounded mx-auto d-block" alt="chosen_user" width="300">

<div class="row justify-content-center">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-2 d-none d-lg-block"></div>
                <div class="col-lg-8">
                    <div class="p-6 mt-10">
                        <p></p>
                        <form class="user" method="post" id="rateOthers-form" action="{{ url_for('rateOthers') }}">
                            <hr>
                            <h3 class="font-weight-bold text-primary text-uppercase mb-1 text-center" id="traitName">{{ trait }}</h3>
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-primary">
                                        <input type="radio" name="rate" id="rate_radio_bad" value="1" autocomplete="off">Strongly disagree
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="rate" id="rate_radio_weak" value="2" autocomplete="off">Slightly disagree
                                    </label>
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="rate" id="rate_radio_norm" value="3" autocomplete="off" checked>Neither agree nor disagree
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="rate" id="rate_radio_good" value="4" autocomplete="off">Slightly Agree
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="rate" id="rate_radio_strong" value="5" autocomplete="off">Strongly Agree
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <button type="submit" class="btn-primary btn-user btn-block theTerget hideTarget">
                                Rate Next
                            </button>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
